body.scroll-inactivo {
    overflow: hidden;
}

section.intro {
    display: flex;
    margin-top: 0;
}

section.intro>div:first-child>h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

p.parrafo-intro {
    margin: 20px 0;
}

section h1.titulo {
    margin-top: 100px;
    margin-bottom: 20px;
}

img.foto-personal-1 {
    background-color: rgba(237, 164, 255, 0.322);
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.137);
    border: 2px solid;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

img.foto-personal-2 {
    display: none;
}

span.color-resalte {
    color: rgb(185, 34, 255);
}

div.div-izquierda {
    margin-right: 20px;
    width: 50%;
}

img.div-derecha {
    margin-left: 20px;
    width: 30%;
    height: 30%;
}

div.caja-tecnologias {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

div.caja-tecnologias div {
    width: 70px;
    height: 70px;
    background-color: #ffffff6c;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.034);
    transition: all ease-in-out 0.2s;
}

div.caja-tecnologias div:hover img {
        height: 110%;
        width: 110%;
}

div.caja-tecnologias div:hover {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.397);
}

div.caja-tecnologias div img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    filter: drop-shadow( 6px 10px 0px rgba(0, 0, 0, 0.137));
    transition: all ease-in-out 0.2s;
}

div.enlaces {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.enlaces button {
    background: none;
    border: none;
    font-size: 40px;
    width: 70px;
    height: 70px;
    padding: 0;
}

div.enlaces button:last-child {
    margin-right: 0;
}

div.enlaces button a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(237, 164, 255, 0.322);
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.137);
    border: 2px solid;
    border-radius: 20px;
    transition: all ease-in-out 0.2s;
    color: black;
}

div.enlaces button a:visited {
    color: black;
}

div.enlaces a:hover {
    cursor: pointer;
    font-size: 50px;
    color: rgb(61, 61, 61) !important;
    background-color: rgba(204, 94, 255, 0.377);

    .material-symbol-cv {
        font-size: 50px;
        color: rgb(61, 61, 61);
    }
}

.material-symbol-cv {
    font-size: 40px;
    transition: all ease-in-out 0.2s;
    font-variation-settings:
        'FILL' 1,
        'wght' 350,
        'GRAD' 0,
        'opsz' 24
}

.material-symbol-titulos {
    top: 3px;
    position: relative;
    font-variation-settings:
    'FILL' 1,
    'wght' 750,
    'GRAD' 0,
    'opsz' 44
}

/*Experiencia laboral*/

ul.ul-exp-laboral {
    padding-left: 29px;
}

div.exp-laboral {
    display: flex;
    flex-wrap: wrap;
}

div.titulo-exp {
    padding-left: 3px;
}

div.titulo-exp {
    width: 30%;
}

div.titulo-exp h3:nth-child(1) {
    color: rgb(185, 34, 255);
}

div.desc-exp {
    width: 70%;
}


li.li-estilo-exp::marker {
    color: rgb(185, 34, 255);
    font-size: 1.5rem;
}

/*---*/

/*Contenedor para div CV*/

.contenedor-cv {
    position: fixed;
    top: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 100px 20px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    background-color: rgba(0, 0, 0, 0.582);
}

.contenedor-cv-activado {
    visibility: visible;
    opacity: 1;
}

section.seccion-cv {
    background-color: whitesmoke;
    border: 2px solid;
    border-top-left-radius: 35px;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.137);
    overflow-y: auto;
}

/*Scrollbar Firefox*/

@-moz-document url-prefix() {
    section.seccion-cv {
        scrollbar-width: thin;
        scrollbar-color: rgb(155, 155, 155);
    }
}

/*---*/

/*Scrollbar navegadores Webkit*/

section.seccion-cv::-webkit-scrollbar {
    width: 6px;
}

section.seccion-cv::-webkit-scrollbar-track {
    background: none;
}

section.seccion-cv::-webkit-scrollbar-thumb {
    background-color: rgb(196, 196, 196);

}

section.seccion-cv::-webkit-scrollbar-thumb:hover {
    background-color: rgb(155, 155, 155);
}

/*---*/

div.cerrar-cv {
    position: sticky;
    top: 0;
    float: right;
    border: 2px solid;
    background-color: rgb(255, 199, 199);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.2s;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.137);
}

div.cerrar-cv img {
    user-select: none;
}

div.cerrar-cv:hover {
    cursor: pointer;
    background-color: rgb(255, 162, 162);
}

/*---*/

@media (max-width: 820px) {
    main>div {
        display: block;
    }

    img.foto-personal-1 {
        display: none;
    }

    img.foto-personal-2 {
        background-color: rgba(237, 164, 255, 0.322);
        box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.137);
        border: 2px solid;
        border-radius: 100%;
        aspect-ratio: 1/1;
        display: block;
        width: 40%;
        margin: 0 auto;
    }

    div.div-izquierda {
        margin-right: 20px;
        width: 100%;
    }

    section h1.intro {
        text-align: center;
    }

    div.enlaces {
        justify-content: center;
    }
}