@media (max-width: 720px) {
    div.exp-laboral {
        display: block;
    }

    div.titulo-exp {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    div.desc-exp {
        width: 100%;
        padding-left: 3px;
    }

    div.proy-divs {
        display: block;
    }

    div.proy-divs div.contenido-texto {
        width: 100%;
    }

    div.proy-divs img.img-proy-izq {
        width: 100%;
        height: 100%;
        margin-right: 0;
    }

    h3.titulo-proy {
        margin-top: 20px;
    }

    /*Contenido del CV*/

    section.seccion-cv {
        div.inf-cv {
            div.web-nota {
                p {
                    display: block;
                    line-height: normal;
                    padding-bottom: 5px;
                }

                p:nth-child(even) {
                    display: none;
                }
            }
        }

        div.inf-personal {
            display: block;

            img.foto-cv-1 {
                display: none;
            }

            img.foto-cv-2 {
                display: inline;
                max-width: 20%;
                max-height: 20%;
                border: 4px solid rgb(125, 71, 139);
                border-radius: 100%;
                margin-bottom: 5px;
            }

            h1 {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            div:not(.inf-cv):not(.inf-personal) {
                p {
                    display: block;
                    line-height: normal;
                    padding-bottom: 5px;
                }

                p:nth-child(even) {
                    display: none;
                }
            }
        }
    }

    /*---*/
}

@media (max-width: 820px) {
    main>div {
        display: block;
    }

    img.foto-personal-1 {
        display: none;
    }

    img.foto-personal-2 {
        background-color: rgba(176, 224, 210, 0.74);
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.055);
        border: 1px solid rgba(35, 114, 90, 0.301);
        border-radius: 100%;
        aspect-ratio: 1/1;
        display: block;
        width: 40%;
        margin: 0 auto;
    }

    div.div-izquierda {
        margin-right: 20px;
        width: 100%;
    }

    section h1.intro {
        text-align: center;
    }

    div.enlaces {
        justify-content: center;
    }

    div.div-sobre-mi {
        display: block;
    }

    div.div-izq-sobre-mi {
        width: 100%;
    }

    img.img-sobre-mi-1 {
        display: none;
    }

    img.img-sobre-mi-2 {
        display: block;
    }

    h1#sobre-mi {
        margin-bottom: 23px;
    }

    .img-sobre-mi-container2 {
        display: block;
    }

    div.img-sobre-mi-container {
        display: none;
    }

}